*{
    color: #666;
}

#book-img{
    width: 70px;
}

.book-update{
    color: #ffc107;
}
.book-update:hover{
    color: #ffc107;
    /* transform: scale(1.05); */
    /* font-weight: bold; */

}

.book-delete{
    color: #f67280;
}

.book-delete:hover{
    color: #f67280;
    /* transform: scale(1.03); */
    /* font-weight: bold; */
}

.book-add{
    color: #a9cea3;
}
.book-add:hover{
    color: #a9cea3;
    /* transform: scale(1.05); */
    /* font-weight: bold; */
}