.titre-ajout-film,
.titre-annee-sortie-ajout-film,
.titre-image-ajout-film,
.titre-note-ajout-film
{
    border-bottom: solid 1px #f89913;
}
.titre-page{
    border: 1px solid #f89913;
}
.btn-validation-ajout-film{
    color: #72c972;
    background-color: #44494e !important;
    border-bottom: 1px solid #f89913 !important;

    /* border-color: #44494e !important;     */
}
.btn-validation-ajout-film:hover{
    color: #4faf4f;
    background-color: #32363b !important;
    border-bottom: 1px solid #f89913 !important;

    /* border-color: #44494e !important; */
}

@media screen and (max-width:500px){
    .titre-page{
        font-size: 12px;
        font-weight: 600;
        margin: 20px 0 15px 0 !important;
    }

    .titre-ajout-film{
        font-size: 12px;
        font-weight: 600;
    }
    .titre-input-ajout-film{
        padding: 5px !important;
        font-size: 10px;
    }

    .titre-annee-sortie-ajout-film{
        font-size: 12px;
        font-weight: 600;
    }
    .annee-sortie-input-ajout-film{
        padding: 5px !important;
        font-size: 10px;
    }

    .titre-image-ajout-film{
        font-size: 12px;
        font-weight: 600;
    }
    .image-input-ajout-film{
        padding: 0px !important;
        font-size: 10px;
    }

    .note-input-ajout-film{
        padding: 5px !important;
        font-size: 10px;
    }

    .btn-validation-ajout-film{
        font-size: 15px;
        font-weight: 600;
        padding: 7px 12px 7px 12px;
    }
}