@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.tableau-films{
    height: 70vh;
    overflow: auto;
    border-radius: 2px;
    scrollbar-color: #72767a #44494e ;
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #44494e;
}
::-webkit-scrollbar-thumb {
    background: #72767a;
    border-radius: 20px;
}
.titre-page{
    border: 1px solid #f89913;
}
.table th{
    position: sticky;
    top: 0;
}
#moovie-img{
    width: 65%;
}
.titre-film-liste{
    font-size: 18px;
}
.moovie-update{
    color: #ffc107;
    background-color: #44494e !important;
    border-color: #44494e !important;
    font-size: 16px;
}
.moovie-update:hover{
    color: #ffda6d;
    background-color: #272b30 !important;
    border-bottom: 1px solid #f89913 !important;  
}

.moovie-delete{
    color: #e05c69;
    background-color: #44494e !important;
    border-color: #44494e !important;
    font-size: 16px;

}

.moovie-delete:hover{
    color: #d43848;
    background-color: #272b30 !important;
    border-bottom: 1px solid #f89913 !important;  
}

.moovie-add{
    color: #72c972;
    background-color: #44494e !important;
    border-bottom: 1px solid #f89913 !important;


}
.moovie-add:hover{
    color: #4faf4f;
    background-color: #32363b !important;
    border-bottom: 1px solid #f89913 !important;
}

@media screen and (max-width:500px){
    ::-webkit-scrollbar {
        width: 4px;
    }
    .tableau-films{
        height: 60vh;
        overflow: auto;
    }
    .table th{
        position: sticky;
        top: 0;
    }
    .titre-page{
        margin: 15px 0 20px 0 !important;
    }
    th{
        font-size: 7px;
        padding: 5px 3px !important;
    }
    td{
        line-height: .5rem;
    }
    .image-liste-films{
        padding: 5px 0 5px 0 !important;
    }
    .annee-sortie-films, .note-films{
        font-size: 7px;
        padding: 0 !important;
    }
    .moovie-update{
        font-size: 7px;
        font-weight: bold;
        width: 90%;
        padding: 3px 10px 3px 7px;
    }
    .modifier-btn{
        padding: 0 !important;
    }
    .moovie-delete{
        font-size: 7px;
        font-weight: bold;
        width: 90%;
        padding: 3px 10px 3px 7px;
    }
    .supprimer-btn{
        padding: 0 !important;
    }
    .moovie-add{
        font-size: 10px;
        padding: 7px 12px 7px 12px;
    }
    .titre-film-liste{
        font-size: 7px;
        line-height: .5rem;
    }
    .titre-liste{
        padding:  5px 4px 5px 4px !important;
    }
    .titre-page{
        font-size: 15px;
    }
}