@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.tableau-series{
    height: 70vh;
    overflow: auto;
    border-radius: 2px;
    scrollbar-color: #72767a #44494e ;
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background-color: #44494e;
}
*::-webkit-scrollbar-thumb {
    background: #72767a;
    border-radius: 20px;
}
.titre-page{
    border: 1px solid #ef6763;
}
.table th{
    position: sticky;
    top: 0;
}
#serie-img{
    width: 60%;
}

.titre-serie-liste{
    font-size: 18px;
}

.serie-update{
    color: #ffc107;
    background-color: #44494e !important;
    border-color: #44494e !important;
    font-size: 16px;
}
.serie-update:hover{
    color: #ffda6d;
    background-color: #272b30 !important;
    border-bottom: 1px solid #ef6763 !important;  
}

.serie-delete{
    color: #e05c69;
    background-color: #44494e !important;
    border-color: #44494e !important;
    font-size: 16px;

}

.serie-delete:hover{
    color: #d43848;
    background-color: #272b30 !important;
    border-bottom: 1px solid #ef6763 !important;  
}

.serie-add{
    color: #72c972;
    background-color: #44494e !important;
    border-bottom: 1px solid #ef6763;

}
.serie-add:hover{
    color: #4faf4f;
    background-color: #32363b !important;
    border-bottom: 1px solid #ef6763;
}

@media screen and (max-width:500px){
    ::-webkit-scrollbar {
        width: 4px;
    }
    .tableau-series{
        height: 60vh;
    }
    th{
        font-size: 6px;
        padding: 5px 3px !important;
    }
    td{
        line-height: .5rem;
    }
    #book-img{
        width: 90%;
    }
    .image-liste-series{
        padding: 5px 0 5px 0 !important;
    }
    .annee-sortie-series, .note-series{
        font-size: 7px;
        padding: 0 !important;
    }
    .serie-update{
        font-size: 6px;
        font-weight: bold;
        width: 90%;
        padding: 3px 10px 3px 7px;
    }
    .modifier-btn{
        padding: 0 !important;
    }
    .serie-delete{
        font-size: 6px;
        font-weight: bold;
        width: 90%;
        padding: 3px 10px 3px 7px;
    }
    .supprimer-btn{
        padding: 0 !important;
    }
    .serie-add{
        font-size: 10px;
        padding: 7px 12px 7px 12px;
    }
    .titre-serie-liste{
        font-size: 9px;
        line-height: .5rem;
    }
    .titre-liste{
        padding:  5px 4px 5px 4px !important;
    }
    .titre-page{
        font-size: 15px;
    }
    .nbSaison{
        font-size: 7px;
    }
}